/* MaxPhotographer - gallery.landscape.css */

/* gallery */
#gallery > .load {
	display: none;
	white-space: normal;
	width: auto;
	height: 57px;
	margin: 0;
}

#gallery > .load > div {
	position: relative;
	width: auto;
	height: 40px;
	margin-top: 4px;
	background: url('loader.gif') center no-repeat;
}

#gallery {
	cursor: pointer;
	overflow-y: hidden;
	overflow-x: scroll;
	width: auto;
	margin-top: 10px;
	white-space: nowrap;
	min-height: 0;
}

#gallery > .img {
	overflow-y: auto;
	display: block;
	white-space: normal;
	background: no-repeat center;
	height: auto;
	margin: 3px 3px 3px 3px !important;
	overflow-x: hidden !important;
}

#gallery >:first-child {
	margin-left: 0;
}

#gallery > .img > span {
	border: 5px dashed black;
	height: 95%;
	margin-top: 12px;
	position: relative;
	display: block;
}

#gallery_bar >:first-child {
	margin-right: 60px;
	color: #000;
}

#gallery::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 11px;
	height: 11px;
}

#gallery::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white; /* should match background, can't be transparent */
	background-color: rgba(0, 0, 0, .5);
}

/* logbox */
#logbox {
	position: absolute;
	width: 200px;
	height: 100px;
	top: 40%;
	left: 40%;
	text-align: center;
	background: rgba(0,0,0,0.4);
	color: #C9C9C9;
	padding-bottom: 20px;
}

#logbox > fieldset {
	border: 1px dashed #000;
}

#logbox > fieldset > legend {
	text-align: left;
}

#logbox > fieldset >:nth-child(3) {
	margin-top: 10px;
}

#logbox > fieldset >:last-child {
	margin-top: 10px;
	background: none;
	color: #C9C9C9;
}

#logbox > button {
	position: absolute;
	top: 0;
	color: #C9C9C9;
	right: 0;
	background: none;
}

/* admin */
.remove {
	display: none !important;
}

.add {
	display: block !important;
}

.add_inline {
	display: inline-block !important;
}

.bt_upload, .bt_up, .bt_down {
	display: inline-block;
	color: #000;
}

.bt_up, .bt_down {
	display: none;
	width: 66px;
	margin-left: 10px;
}
