/* max photography - landscape.css */

@font-face {
  font-family: 'kin668';
  src: url('kin668.ttf');
}

body {
	background: rgba(0, 0, 0, 0.05);
}

/* header */
#header {
	position: relative;
	overflow: hidden;
	min-width: 840px;
}

#header > * {
	display: inline-block;
}

#header > #logo {
	height: 70px;
	font-size: 42pt;
	width: 525px;
	text-shadow: 2px 2px 4px #999;
	font-family: 'kin668';
15px;
}

#header > #lang {
	position: absolute;
	right: 20px;
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}

#header > #lang:hover {
	background-color: #eeeeee;
}

#header > #lang > span {

}

#header > #lang > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header > #lang > ul > li {
	display: none;
	cursor: pointer;
}

#header > #admin {
	position: absolute;
	right: 70px;
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}

#header > #admin:hover {
	background-color: #eeeeee;
}

#header > #admin > a {
	color: #000;
	text-decoration: none;
}

#container {
	min-width: 825px;
}

/* menu */
#menu {
	display: inline-block;
	/* border-right: 1px solid #000; */
	height: 400px;
	width: 160px;
	float: left;
	margin-top: 66px;
}

#menu > input {
	width: 100px;
	margin-right: 10px;
}

#menu > ul {
	margin: 20px;
	padding: 0;
	list-style: none;
}

#menu > ul > li {
	margin: 0;
	position: relative;
	cursor: pointer;
	text-transform: capitalize;
	overflow-x: hidden;
}

#menu > ul > li > a {
	color: #000;
	text-decoration: none;
	padding-right: 100px;
	line-height: 20px;
}

#menu > ul > li > a:active
{
	outline: none;
}

#menu > ul > li:hover {
	list-style-type: square;
	padding-left: 15px;
	font-size: 13pt;
	background-color: #eeeeee;
}

#menu > ul > li > button {
	position: absolute;
	top: 0;
	right: 0;
}

#menu > button:last-child {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 40px;
}

/* content */
#content {
	display: inline-block;
	float: left;
	min-height: 500px;
	height: 80%;
	width: 80%;
	margin-left: 4px;
	position: relative;
	color: #fff;
}

#content > #gallery {
	cursor: pointer;
	overflow-y: hidden;
	overflow-x: scroll;
	width: auto;
	margin-top: 23px;
	height: 490px;
	white-space: nowrap;
}

#content > #gallery > .img {
	overflow-y: hidden;
	display: inline-block;
  white-space: normal;
	background: no-repeat center;
	width: 650px;
	height: 490px;
	background-size: 650px auto; /* to com*/
	margin:-12px 0 0 7px !important;
}

#content > #gallery > .img > span {
	border: 5px dashed black;
	width: 640px;
	height: 95%;
	margin-top: 12px;
	position: relative;
	display: block;
}

#content > #gallery_bar {
	position: absolute;
	right: 0;	
}

#content > #gallery_bar > * {
	display: inline-block;
  white-space: normal;
	margin-right: 20px;
}

#content > #gallery_bar >:first-child {
	margin-right: 60px;
	color: #000;
}

#logbox {
	position: absolute;
	display: none;
	width: 200px;
	height: 100px;
	top: 40%;
	left: 40%;
	text-align: center;
	background: grey;
	padding-bottom: 20px;
}

#logbox > fieldset {
	border: 1px dashed #000;
}

#logbox > fieldset > legend {
		text-align: left;
}

#logbox > fieldset >:nth-child(3) {
	margin-top: 10px;
}

#logbox > fieldset >:last-child {
	margin-top: 10px;
}

#logbox > button {
	position: absolute;
	top: 0;
	right: 0;
}

.remove {
	display: none !important;
}

.add {
	display: block !important;
}

.add_inline {
	display: inline-block !important;
}

.bt_upload {
	display: inline-block;
	color: #000;
}

#content > #gallery > #load {
	display: none;
  white-space: normal;
	width: 100px;
	height: 430px;
	border: 1px solid #eeeeee;
	margin:0;
}

#loader {
  position: relative;
  width: 100px;
  height: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
	margin-top: 120px;
}

#loader > div {
  width: 20px;
  height: 20px;
  background: #000;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  position: absolute;
  left: 40px;
  top: 40px;
}

#loader >:nth-child(1) {
  -moz-transform: rotate(0deg) translate(0, -40px) scale(0.1);
  -webkit-transform: rotate(0deg) translate(0, -40px) scale(0.1);
	opacity: 0.12;
}

#loader >:nth-child(2) {
  -moz-transform: rotate(45deg) translate(0, -40px) scale(0.2);
  -webkit-transform: rotate(45deg) translate(0, -40px) scale(0.2);
	opacity: 0.25;
}

#loader >:nth-child(3) {
  -moz-transform: rotate(90deg) translate(0, -40px) scale(0.4);
  -webkit-transform: rotate(90deg) translate(0, -40px) scale(0.4);
 	opacity: 0.37;
}

#loader >:nth-child(4) {
  -moz-transform: rotate(135deg) translate(0, -40px) scale(0.6);
  -webkit-transform: rotate(135deg) translate(0, -40px) scale(0.6);
	opacity: 0.50;
}

#loader >:nth-child(5) {
  -moz-transform: rotate(180deg) translate(0, -40px) scale(0.8);
  -webkit-transform: rotate(180deg) translate(0, -40px) scale(0.8);
	opacity: 0.62;
}

#loader >:nth-child(6) {
  -moz-transform: rotate(225deg) translate(0, -40px) scale(1);
  -webkit-transform: rotate(225deg) translate(0, -40px) scale(1);
	opacity:0.75;
}

#loader >:nth-child(7) {
  -moz-transform: rotate(270deg) translate(0, -40px) scale(1.2);
  -webkit-transform: rotate(270deg) translate(0, -40px) scale(1.2);
	opacity: 0.87;
}

#loader >:nth-child(8) {
  -moz-transform: rotate(315deg) translate(0, -40px) scale(1.4);
  -webkit-transform: rotate(315deg) translate(0, -40px) scale(1.4);
	opacity: 1;
}

#contact {
	position: absolute;
	top: 25px;
	right: 83px;
}

#contact > a {
	color: #000;
	text-decoration: none;
	font-size: 21pt;
}
