/* max photography - landscape.css */

body {
	background: rgba(0, 0, 0, 0.05);
}

/* header */
#header {
	position: relative;
	overflow: hidden;
	min-width: 840px;
}

#header > * {
	display: inline-block;
}

#header > #logo {
	height: 70px;
	text-align: center;
	font-size: 42pt;
	width: 100%;
	text-shadow: 2px 2px 4px #999;
}

#header > #lang {
	position: absolute;
	right: 20px;
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}

#header > #lang:hover {
	background-color: #eeeeee;
}

#header > #lang > span {

}

#header > #lang > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header > #lang > ul > li {
	display: none;
	cursor: pointer;
}

#header > #admin {
	position: absolute;
	right: 70px;
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}

#header > #admin:hover {
	background-color: #eeeeee;
}

#header > #admin > a {
	color: #000;
	text-decoration: none;
}

#container {
	min-width: 825px;
}

/* menu */
#menu {
	display: inline-block;
	/* border-right: 1px solid #000; */
	height: 400px;
	width: 160px;
	float: left;
	margin-top: 66px;
}

#menu > b {

}

#menu > ul {
	margin: 20px;
	padding: 0;
	list-style: none;
}

#menu > ul > li {
	margin: 0;
	cursor: pointer;
	text-transform: capitalize;
	overflow-x: hidden;
}

#menu > ul > li > a {
	color: #000;
	text-decoration: none;
	padding-right: 100px;
	line-height: 20px;
}

#menu > ul > li > a:active
{
	outline: none;
}

#menu > ul > li:hover {
	list-style-type: square;
	padding-left: 15px;
	font-size: 13pt;
	background-color: #eeeeee;
}

/* content */
#content {
	display: inline-block;
	float: left;
	min-height: 500px;
	height: 80%;
	width: 80%;
	margin-left: 4px;
	position: relative;
	color: #fff;
}

#content > #gallery {
	cursor: pointer;
	overflow-y: hidden;
	overflow-x: scroll;
	width: auto;
	margin-top: 23px;
	height: 490px;
	white-space: nowrap;
}

#content > #gallery > .img {
	overflow-y: hidden;
	display: inline-block;
  white-space: normal;
	background: no-repeat center;
	width: 650px;
	height: 490px;
	background-size: 650px auto; /* to com*/
	margin:-12px 0 0 7px !important;
}

#content > #gallery > #load {
	display: inline-block;
  white-space: normal;
	width: 30px;
	height: 430px;
	border: 1px solid #eeeeee;
	margin:0;
}

#content > #gallery_bar {
	position: absolute;
	right: 0;	
}

#content > #gallery_bar > * {
	display: inline-block;
  white-space: normal;
	margin-right: 20px;
}

#content > #gallery_bar >:first-child {
	margin-right: 60px;
	color: #000;
}

