/* MaxPhotographer - portrait.css */

@font-face {
	font-family: 'king_regular';
	src: url('fonts/king_regular.eot');
	src: local('☺'), url('fonts/king_regular.woff') format('woff'), url('fonts/king_regular.ttf') format('truetype'), url('fonts/king_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: rgba(0, 0, 0, 0.05);
}

/* header */
#header {
	position: relative;
	overflow: hidden;
	min-width: 0;
	height: 50px;
	margin-bottom: 7px;
}

#header > * {
	display: inline-block;
}

#header > #logo {
	height: 28px;
	font-size: 15pt;
	text-shadow: 2px 2px 4px #999;
	font-family: 'king_regular';
	padding: 0 23px;
	text-align: center;
	display: block;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#header > #admin {
	position: absolute;
	right: 70px;
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}

#header > #admin:hover {
	background-color: #eeeeee;
}

#header > #admin > a {
	color: #000;
	text-decoration: none;
}

#header > .fb-like {
	right: 0px;
	top: 26px;
}

#container {
	min-width: 0;
}

/* menu */
#menu {
	display: block;
	/* border-right: 1px solid #000; */
	margin-top: 0;
	height: auto;
	width: auto;
	float: none;
}

#menu > input {
	width: 100px;
	margin-right: 10px;
}

#menu > ul {
	margin: 5px;
	padding: 0;
	list-style: none;
	height: 20px;
}

#menu > ul > li {
	margin: 0;
	position: relative;
	cursor: pointer;
	text-transform: capitalize;
	overflow-x: hidden;
	display: inline-block;
}

#menu > ul > li > a {
	color: #000;
	text-decoration: none;
	padding-right: 50px;
	line-height: 20px;
}

#menu > ul > li > a:active
{
	outline: none;
}

#menu > ul > li:hover {
	padding-left: 0;
	font-size: 13pt;
}

#menu > ul > li > button {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 17px;
	line-height: 10px;
	padding: 0;
}

#menu > button:last-child {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 40px;
}

#menu > button:nth-last-child(2) {
	margin-left: 30px;
}

/* content */
#content {
	display: block;
	min-height: 0;
	height: auto;
	width: auto;
	margin-left: 0;
	position: relative;
	float: none;
}

#content.shadow {
	box-shadow: 0px 0px 30px black;
}
